{{ $files := readDir "./static/images/gallery" }}

<script type="module">
    import PhotoSwipeLightbox from "/js/photoswipe.js"
    const lightbox = new PhotoSwipeLightbox({
        gallery: '#gallery',
        children: 'a',
        pswpModule: () => import('/js/ps-core.js')
    })
    lightbox.init()
</script>

<div class="pswp-gallery pswp-gallery--single-column" id="gallery">
    {{ range $i, $file := sort $files "ModTime" "desc" }}
        {{ $path := path.Join "/images/gallery" $file.Name }}
        {{ $image := resources.Get (path.Join "images" "gallery" $file.Name) }}
        <a  href="/images/gallery/{{ $file.Name }}"
            target="_blank" data-pswp-width="{{ $image.Width }}"
            data-pswp-height="{{ $image.Height }}">
            <img src="/images/gallery/{{ $file.Name }}"
                alt=""
                loading="lazy"
                id="{{ sub (len $files) $i }}"
                width="{{ $image.Width }}"
                height="auto" />
        </a>
    {{ end }}
</div>